.wrapper {
    padding-top: 1%;
    padding-bottom: 10%;
    height: 100%;
    display: flex;
    /*flex-flow: row wrap;*/
    justify-content: space-around;
    overflow: auto;
    background: linear-gradient(90deg, rgba(31,31,190,1) 0%, rgba(0,212,255,1) 100%);
  }